<!DOCTYPE html>
<html>

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Travel Planner</title>
</head>

<body>
    <div class="container">
        <div class="header">
            Travel Planner
        </div>


        <div class="image">
            <img id="pixabay-image"
                src="https://pixabay.com/get/52e6d4474952ab14f1dc846096293177153adae4514c704c7c2e7dd1904dc459_640.jpg"
                alt="Image from Pixabay">
            <div id="pixabay-logo">
                <a href="https://pixabay.com/">
                    <img id="logo-image" src="https://pixabay.com/static/img/public/leaderboard_b.png" alt="Pixabay">
                </a>
            </div>
        </div>

        <div class="trip-info">
            <!-- <div class="quote">

                <blockquote>
                    <p>The gladdest moment in human life, methinks, is a departure into unknown lands.</p>
                    <footer> - <cite>Sir Richard Burton</cite> </footer>

                    </aside>
            </div> -->
            <form>
                <h2>Trip Info</h2>
                <div id="define-destination">
                    <label>Destination</label>
                    <input id="destination-city" type="text" name="input"
                        placeholder="Enter the city of destination...">
                    <select id="destination-country"></select>
                </div>
                <div id="start-date">
                    <label>Start date:</label>
                    <input id="trip-start-date" type="date">
                </div>
                <button id="plan-trip" type="submit"> Plan Your Trip </button>
            </form>
            <div id="trip-data">
                <div id="days-before-trip"></div>
                <div id="typical-weather"></div>
                <div id="min-temperature"></div>
                <div id="max-temperature"></div>
                <div id="weather-description"></div>
                <img id="weather-icon">
            </div>
        </div>

        <footer class="footer">
            Footer
        </footer>
    </div>

</body>


</html>