<!DOCTYPE html>
<html>

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Travel Planner</title>
</head>

<body>
    <div class="container">
        <div class="header">
            <h1>Travel Planner</h1>
        </div>

        <div class="image">
            <img id="default-image">
            <div id="image-not-found"></div>
        </div>

        <div class="trip-info">

            <label>Destination city:</label>
            <input id="destination-city" type="text" name="input" placeholder="Enter the city of destination...">

            <div id="empty-city-input" class="error-message hidden"></div>

            <label>Destination country:</label>
            <select id="destination-country" class='select-css'></select>

            <label>Start date:</label>
            <input id="trip-start-date" type="date">
            <div id="empty-date" class="error-message"></div>

            <button id="plan-trip" class="bold" type="submit"> PLAN YOUR TRIP </button>

            <div id="trip-data" class="hidden">
                <div id="no-response-from-api" class="hidden"></div>
                <h2 id="trip-info-header"></h2>
                <div id="days-before-trip"></div>
                <div id="typical-weather"></div>
                <div id="weather-forecast">
                    <img id="weather-icon">
                    <div id="weather-description"></div>
                </div>
                <div id="min-temperature"></div>
                <div id="max-temperature"></div>

            </div>
        </div>

        <footer class="footer">
            <div id="pixabay-logo">
                <a href="https://pixabay.com/" id="abc">
                    <img id="logo-image" src="src/client/img/pixabay_logo.svg" alt="Pixabay">
                </a>
            </div>
        </footer>
    </div>

    <!-- service workers -->
    <script>
        // Check that service workers are supported
        if ('serviceWorker' in navigator) {
            // Use the window load event to keep the page load performant
            window.addEventListener('load', () => {
                navigator.serviceWorker.register('/service-worker.js');
            });
        }
    </script>

</body>

</html>