<!DOCTYPE html>
<html>

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Travel Planner</title>
</head>

<body>
    <div class="container">
        <div class="header">
            Header
        </div>

        <div class="image">
            Image
        </div>

        <div class="trip-info">
            <form>
                <div>Trip Info</div>
                <div id="define-destination">
                    <label>Destination</label>
                    <input id="destination-city" type="text" name="input"
                        placeholder="Enter the city of destination...">
                    <select id="destination-country"></select>
                </div>
                <div id="start-date">
                    <label>Start date:</label>
                    <input type="date">
                </div>
                <button id="plan-trip" type="submit"> Plan Your Trip </button>
            </form>
        </div>

        <footer class="footer">
            Footer
        </footer>
    </div>

</body>


</html>