$font-size: 1.1em;
$font: Arial;

.trip-info {
    border: 1px solid black;
    padding-top: 20px;
    padding-left: 20px;
    font-size: $font-size;
}

.trip-info form {
    display: flex;
    flex-direction: column;
}

#destination-city,
#destination-country,
#plan-trip {
    width: 80%;
}

#define-destination {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

#start-date,
#define-destination > * {
    margin-top: 10px;
}

.select-css {
    height: 25px;
    border-radius: 0.5em;
    line-height: 1.2;
    color: black;
}

.select-css:hover,
.select-css:focus {
  color: black;
  background-color: white;
}

#trip-start-date {
    font-size: $font-size;
    font-style: $font;
}


#plan-trip {
    margin-top: 20px;
    font-style: $font;
}

