$header-fontcolor: #292838;

/* mobile */
.header {
    grid-area: hd;
    color: $header-fontcolor;
    display: flex;
    align-items: center;
    justify-content: center;
}

.header h1 {
  font-size: 3em;
  font-weight: 800;
}