$error-message: #ee192d;

/* mobile */
.image {
    grid-area: image;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-start;
    padding-top: 20px;
}

#default-image,
#pixabay-logo {
    width: 300px;
}

#default-image {
    border-radius: 10px;
}

#logo-image {
    padding-top: 5px;
    width: 100%;
}

#image-not-found {
    padding-top: 20px;
    color: $error-message;
}

#pixabay-logo a:hover {
    opacity: 0.8;
} 

/* medium desktops */
@media (min-width: 479px) and (max-width: 768px) {
    .image {
        padding-top: 30px;
    }
}

/* large desktops */
@media (min-width: 769px) {

    .image {
        padding-top: 50px;
    }

    #default-image,
    #pixabay-logo {
        width: 400px;
    }
}

/* extra large desktops */
@media (min-width: 991px) {
    #default-image,
    #pixabay-logo {
        width: 500px;
    }
}