$error-message: #e2000c;

/* mobile */
.destination-image {
    grid-area: image;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-start;
}

.figcaption {
    padding-top: 5px;
    font-weight: 600;
}

.default-image {
    width: 90%;
}

.default-image {
    border-radius: 10px;
}

.logo-image {
    padding-top: 5px;
    width: 100%;
}

.image-not-found {
    padding-top: 20px;
    color: $error-message;
}

.pixabay-logo {
    width: 100px;
    margin-bottom: 15px;
}

.pixabay-logo a:hover {
    opacity: 0.8;
} 

/* medium desktops */
@media (min-width: 479px) and (max-width: 768px) {
    .image {
        padding-top: 30px;
    }

    .pixabay-logo {
        width: 150px;
    }
}

/* large desktops */
@media (min-width: 769px) {

    .image {
        padding-top: 50px;
    }

    .default-image,
    .pixabay-logo {
        width: 170px;
    }
}

/* extra large desktops */
@media (min-width: 991px) {
    .pixabay-logo {
        width: 200px;
    }

    .default-image {
        width: 500px;
    }
}