body {
    margin: 0;
    padding: 0;
}

.container {
    width: 100%;
    display: grid;
    min-height: 100vh;
    grid-template-columns: 35% 65%;
    grid-auto-rows: 100px 1fr 70px;
    grid-template-areas:
      "hd hd"
      "image info"
      "ft ft";
}




