$font-size: 1.1em;
$font: Arial;
$error-message: #e2000c;

.bold {
    font-weight: 600;
}

.trip-planning-form {
    grid-area: form;
    font-size: $font-size;
    font-style: $font;
}

.no-response-from-api {
    color: $error-message;
    padding: 5px 5% 0 5%;
    font-weight: 600;
    line-height: 1.3em;
}

.trip-data > div {
    padding-top: 20px;
    height: auto;
}

.trip-data {
    grid-area: data;
    background-color: #ffca03;
    border-radius: 5px;
    font-weight: 500;
    height: auto;
    width: 90%;
    margin: 5px 5% 20px 5%;
    padding: 10px 5px 10px 5px;
}

.trip-data div,
.trip-data h2 {
    text-align: center;
}

.trip-data h2 {
    padding-top: 5px;
    font-size: 1.5em;
    font-weight: 700;
}

.weather-forecast {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}

/* medium desktops */
@media (min-width: 479px) {
    .no-response-from-api,
    .trip-data {
        font-size: 1.3em;
    }
}